<form method="POST" action="/compilar">
  <textarea name="codigo" rows="10" cols="50" placeholder="holaaaaaaa">
    AGREGAR("POO","Juan Perez");
    MOSTRAR();
    ELIMINAR("POO");
  </textarea>
  <br><br>
  <button type="submit">Ejecutar</button>
</form>

<pre>{{resultado}}</pre>