<!DOCTYPE html>
<html>
<head>
    <title>{{titulo}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/personal.css">


</head>
<body style="background-color: lightgray;">
<!-- navbar -->
    {{> navbar}}
<!-- contenido -->
    <div class="container-fluid p-5 text-center align-items-center", style="font-family: 'Times New Roman', Times, serif;">        
        {{{body}}}  
    </div>
<!-- scripts -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>