<div class="landing">

    <div class="hero">
        <h1><b>¡BIENVENIDO A MOMOAGENDA!</b></h1>
        <p class="p-5">LA HERRAMIENTA DEFINITIVA PARA ORGANIZAR TU VIDA; CON MOMOAGENDA, PUEDES GESTIONAR TUS HORARIOS, PLANIFICAR TAREAS Y MANTENER TU AGENDA AL DIA DE MANERA FÁCIL Y EFICIENTE. ¡EMPIEZA A ORGANIZAR TU VIDA HOY MISMO!</p>
    </div>

    <img src="/media/momo.png" class="miku-left">
    <img src="/media/miku.png" class="miku-right">

    <footer class="footer-home">
        <p>POR MURPHY ALEXANDER FLORES LEYVA</p>
    </footer>

</div>