<div class="landing">

    <div class="hero">
        <h1>¡BIENVENIDO A MOMOAGENDA!</h1>
        <p>Tu herramienta definitiva para organizar tu vida diaria. Con MomoAgenda, puedes gestionar tus horarios, planificar tus tareas y mantener tu agenda al día de manera fácil y eficiente. ¡Empieza a organizar tu vida con MomoAgenda hoy mismo!</p>
    </div>

    <img src="/media/miku.webp" class="miku-left">
    <img src="/media/miku.webp" class="miku-right">

    <footer class="footer-home">
        POR MURPHY ALEXANDER FLORES LEYVA
    </footer>

</div>