<div class="container text-center rounded" style="width: 50%; background-color: #f1f1f1; margin-top: 50px; padding: 20px;">
    <h1 id="titulo"><b>Inicio de sesion</b></h1>
  <form action="/login" method="post">
  <div class="mb-3">
    <b><label class="form-label">Usuario:</label></b>
    <input type="text" class="form-control" id="nombre" name="username" placeholder="Usuario">
  </div>
  <div class="mb-3">
    <b><label class="form-label">Contraseña:</label></b>
    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Iniciar</button>
  </form>
</div>