<div class="container text-center">
  <div class="row align-items-center">
    <h1 id="titulo" class="pb-2"><b>Materias de {{username}}</b></h1>
    <div class="col">
        <table class="table table-light table-hover table-bordered" id="tabla">
        <thead class="table-dark">
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Profesor</th>
            </tr>
        </thead>
        <tbody>
            {{#each materias}}
            <tr>
                <td>{{this.nombre}}</td>
                <td>{{this.profesor}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div style="background-color: red;" class="col">
      <p id="texto_normal" class="mt-4">Aqui puedes ver tus materias y manejarlas.</p>
        <button type="button" class="btn btn-success">Agregar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
        <button type="button" class="btn btn-warning">Editar</button>
    </div>
  </div>
</div>