<div class="container text-center rounded" style="width: 50%; background-color: #f1f1f1; margin-top: 50px; padding: 20px;">
    <h1 id="titulo"><b>Registro</b></h1>
  <form action="/registro" method="post">
  <div class="mb-3">
    <b><label class="form-label">Nombre de usuario:</label></b>
    <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario">
  </div>
  <div class="mb-3">
    <b><label class="form-label">Correo electrónico:</label></b>
    <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico">
  </div>
  <div class="mb-3">
    <b><label class="form-label">Contraseña:</label></b>
    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Registrarse</button>
  </form>
</div>