<div class="formulario-momo">

    <h1 class="titulo-formulario">
        NUEVA TAREA
    </h1>

    <form
        action="/agenda/nueva"
        method="POST"
        class="form-momo"
    >

        <div class="campo-momo">

            <label>
                TÍTULO
            </label>

            <input
                type="text"
                name="titulo"
                required
                class="input-momo"
            >

        </div>

        <div class="campo-momo">

            <label>
                DESCRIPCIÓN
            </label>

            <textarea
                name="descripcion"
                class="textarea-momo"
            ></textarea>

        </div>

        <div class="campo-momo">

            <label>
                MATERIA
            </label>

            <select
                name="materia_id"
                class="input-momo"
            >

                {{#each materias}}

                    <option value="{{this.id}}">
                        {{this.nombre}}
                    </option>

                {{/each}}

            </select>

        </div>

        <div class="campo-momo">

            <label>
                FECHA DE ENTREGA
            </label>

            <input
                type="datetime-local"
                name="fecha_entrega"
                class="input-momo"
            >

        </div>

        <button
            type="submit"
            class="btn-momo"
        >
            CREAR TAREA
        </button>

    </form>

</div>