<h1>Nueva materia</h1>

<form action="/materias/nueva" method="POST">

    <label>Nombre</label>
    <input
        type="text"
        name="nombre"
        required
    >

    <br><br>

    <label>Profesor</label>
    <input
        type="text"
        name="profesor"
    >

    <br><br>

    <label>Color</label>
    <input
        type="color"
        name="color"
        value="#FF5733"
    >

    <br><br>

    <button type="submit">
        Crear materia
    </button>

</form>